.item {
    margin: 1rem 0;
}

.image {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.content {
    text-align: left;
    padding: 1rem;
}

.content h3 {
    font-size: 1.25rem;
    color: #2c292b;
}

.actions {
    padding: 1.5rem;
    text-align: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
}

.actions button:hover,
.actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
}

h3:hover {
    cursor: auto;
}
